# Database
DATABASE_URL="postgresql://user:password@localhost:5432/lumie_presentes?schema=public"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="sua-chave-secreta-aqui-gerar-com-openssl-rand-base64-32"

# Pagar.me
PAGARME_API_KEY="sua-api-key-pagarme"
PAGARME_SECRET_KEY="sua-secret-key-pagarme"
PAGARME_WEBHOOK_SECRET="webhook-secret-pagarme"
PAGARME_ENVIRONMENT="sandbox"

# Comissão da plataforma
PLATFORM_FEE_PERCENTAGE="7.99"

# Upload
UPLOADTHING_SECRET="sua-uploadthing-secret"
UPLOADTHING_APP_ID="sua-uploadthing-app-id"

# URL base
NEXT_PUBLIC_APP_URL="http://localhost:3000"
